.hero {
    padding: 30px 0 60px;

    &__wrap {
        display: flex;
    }

    &__info {
        width: 50%;
        min-width: 530px;
        padding: 0 60px;
    }

    &__info-2 {
        width: 50%;
        padding: 20px 50px;
    }

    &__info-3 {
        width: 50%;
        padding: 65px 50px;
    }

    &__img {
        width: 50%;
        position: relative;
    }

    &__label {
        font: $h3-font;
        color: $title-color;
        letter-spacing: 1.1;
        text-transform: uppercase;
    }

    &__title {
        font: $h1-font;
        color: $primary-color;
        margin-bottom: 35px;
    }

    &__title-2 {
        font: $h1-font;
        font-size: 100px;
        color: $primary-color;
        margin-bottom: 35px;
    }

    &__title-3 {
        font: $h1-font;
        font-size: 100px;
        color: $primary-color;
        margin-bottom: 35px;
    }

    &__descr {
        margin-bottom: 25px;
    }

    &__btns {
        display: flex;
    }

    &__btn {
        
        &:not(:last-child) {
            margin-right: 27px;
        }
    }

    &__img-wrap {
        position: absolute;
        width: 100%;
        z-index: -1;
        top: 60%;
        right: -5%;
        transform: translateY(-50%);
    }

    &__img-wrap-2 {
        position: absolute;
        width: 100%;
        top: 20%;
        right: -15%;
    }

    &__img-wrap-3 {
        position: absolute;
        width: 100%;
        top: 5%;
        right: -10%;
    }

    &__decor {
        width: 100%;
    }

    &__decor-1,
    &__decor-2,
    &__decor-3,
    &__decor-4
    &__decor-5 {
        position: absolute;
    }

    &__decor-1 {
        top: 15%;
        right: 15%;
        max-width: 119px;
        max-height: 83px;
    }

    &__decor-2 {
        top: 50%;
        left: 22%;
        max-width: 107px;
        max-height: 56px;
    }

    &__decor-3 {
        top: 15%;
        left: 15%;
        max-width: 175px;
        max-height: 109px;
    }
}

@media(max-width: 1024px) {
    .hero {
        &__info {
            max-width: 512px;
        }

        &__decor {
            width: 95%;
        }

        &__decor-1 {
            right: 20%;
            max-width: 100px;
            max-height: 80px;
        }

        &__decor-2 {
            left: 20%;
            max-width: 95px;
            max-height: 50px;
        }

        &__decor-3 {
            max-width: 150px;
            max-height: 100px;
        }
    }
}

@media(max-width: 768px) {
    .hero {
        &__info {
            width: 50%;
        }

        &__label {
            font: $h3-font;
        }

        &__title {
            font: 600 85px/0.9 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
        }

        &__descr {
            font: 400 15px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
            max-width: 400px;
        }

        &__img-wrap {
            width: 205%;
            top: 55%;
            right: -33%;
        }

        &__decor {
            width: 95%;
        }

        &__decor-1 {
            max-width: 60px;
            max-height: 40px;
        }

        &__decor-2 {
            max-width: 65px;
            max-height: 28px;
        }

        &__decor-3 {
            max-width: 965x;
            max-height: 55px;
        }
    }
}