.center {
    padding: 61px 0;

    &__wrap {
        letter-spacing: $letter-spc;
        margin: 61px auto;
    }

    &__col {
        width: 50%;
        padding: 0 10px;
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        text-align: left;
    }

    &__body {
        max-width: 588px;
    }

    &__title {
        margin-bottom: 17px;

        h2 {
            font: $h2-font;
            color: $title-color;
        }
    }

    &__info {
        padding-right: 34px;

        p {
            font: $main-font;
            color: $text-color;
        }
    }

    // &__block {
    //     display: inline-block;
    //     position: relative;
    //     list-style: none;
    //     padding-left: 35px;
    //     vertical-align: middle;
    // }

    &__card, 
    &__card-2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 120px;
        margin: 25px 0;
        counter-reset: circle-counter;

        &:before {
            counter-increment: circle-counter;
            content: counter(circle-counter);
            box-shadow: $circle-box-shadow;
            background: $white;
            font: $h4-font;
            color: $green;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 67px;
            height: 67px;
            left: 0;
            top: 50%;
            border-radius: 50%;
            transform: translateX(-50%);
        }
        
        &-body {
            
            h3{
                font: $h3-font;
                color: $title-color;
                padding-bottom: 1px;
            }

            p {
                font: $main-font;
                color: $text-color;
                padding-top: 1px;
            }

        }

    }

    &__card-2 {

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__wrap-img {
        letter-spacing: $letter-spc;
        margin: 0 auto;
    }

    &__col-img {
        width: calc(100% / 3);
        padding: 15px;
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        border: 1px solid;
        border-left: 0;
        border-top: 0;
        border-bottom: 1px;
        border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(89, 190, 41, 1) 100%, rgba(0, 0, 0, 0) 0%);
        border-image-slice: 1;

        &-link {
            display: block;
            padding-bottom: 100%;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                object-fit: cover;
                transition: $trs;
            }

            &:hover {
                transform: scale(0.9);
            }
        }

        &:last-child {
            border-right: 0;
            border-bottom: 0;
        }

    }

    &__col-img1 {
        width: calc(100% / 3);
        padding: 15px;
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        border: 1px solid;
        border-left: 0;
        border-bottom: 0;
        border-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(89, 190, 41, 1) 100%, rgba(0, 0, 0, 0) 0%);
        border-image-slice: 1;

        &:last-child {
            border-right: 0;
        }
    }
}
