@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(10, 25, 2, 0.7);
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(10, 25, 2, 0.7);
  transition: all 0.3s;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1178px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-family: "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 55px;
  font-weight: 500;
  box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.1);
  border-radius: 20px 80px;
  padding: 5px 44px;
  border: 1px solid #59BE29;
  color: #FFFFFF;
  background-color: #59BE29;
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.4);
}
.btn--ghost {
  color: #59BE29;
  background-color: #FFFFFF;
  border: 1px solid rgba(89, 190, 41, 0.3);
}
.btn--normal {
  height: 59px;
  padding: 5px 30px;
  border-radius: 10px;
}

input {
  font-family: "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(22, 52, 7, 0.5);
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  outline: none;
  display: block;
  height: 59px;
  width: 100%;
  padding: 0 30px;
  transition: all 0.3s;
}
input:focus {
  box-shadow: 0 10px 20px rgba(22, 52, 7, 0.2);
}
input::placeholder {
  color: rgba(10, 25, 2, 0.2);
}

.header {
  padding: 30px 0;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  line-height: 0;
}
.header__logo img {
  max-width: 164px;
  max-height: 65px;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  padding: 0 17px;
  font-weight: 500;
}
.header__nav-item a {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
}
.header__nav-item a:hover {
  color: #0A1902;
}
.header__nav-item a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 2px;
  background-color: transparent;
}
.header__nav-item--active a {
  color: #0A1902;
}
.header__nav-item--active a:before {
  background-color: #59BE29;
}

.hero {
  padding: 86px 0 60px;
}
.hero__wrap {
  display: flex;
}
.hero__info {
  width: 50%;
  min-width: 530px;
  padding-right: 35px;
}
.hero__img {
  width: 50%;
  position: relative;
}
.hero__label {
  font: 500 25px/1.5 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #0A1902;
  letter-spacing: 1.1;
  text-transform: uppercase;
}
.hero__title {
  font: 600 121px/0.9 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #59BE29;
  margin-bottom: 35px;
}
.hero__descr {
  margin-bottom: 25px;
}
.hero__btns {
  display: flex;
}
.hero__btn:not(:last-child) {
  margin-right: 27px;
}
.hero__img-wrap {
  position: absolute;
  width: 150%;
  z-index: -1;
  top: 50%;
  right: -27%;
  transform: translateY(-50%);
}
.hero__img-bg {
  width: 100%;
}
.hero__decor-1, .hero__decor-2, .hero__decor-3 {
  position: absolute;
}
.hero__decor-1 {
  top: 15%;
  right: 17%;
  max-width: 119px;
  max-height: 83px;
}
.hero__decor-2 {
  top: 50%;
  left: 22%;
  max-width: 107;
  max-height: 56;
}
.hero__decor-3 {
  top: 15%;
  left: 15%;
  max-width: 175px;
  max-height: 109px;
}

.stats {
  padding: 60px 0;
}
.stats__wrap {
  display: flex;
  align-items: center;
  margin: 0 -20px;
}
.stats__col {
  width: 50%;
  padding: 0 20px;
}
.stats__img {
  max-width: 100%;
}
.stats__title {
  font: 600 49px/1.3 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #0A1902;
  max-width: 452px;
  margin-bottom: 25px;
  position: relative;
}
.stats__title:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 130px;
  height: 65px;
  background-image: url(../../img/leave-decor.png);
  background-size: cover;
  bottom: 0;
  right: 0;
}
.stats__descr {
  margin-bottom: 46px;
}
.stats__box {
  display: flex;
  flex-wrap: wrap;
  margin: -18px -20px;
  counter-reset: section;
}
.stats__item {
  width: 50%;
  padding: 18px 20px;
  padding-left: 108px;
  position: relative;
}
.stats__item:before {
  position: absolute;
  counter-increment: section;
  content: counter(section);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 73px;
  height: 73px;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(22, 52, 7, 0.5);
  color: #59BE29;
  font: 700 35px/1.4 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
}
.stats__number {
  display: block;
  font: 600 49px/1.3 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #82CD5E;
  font-weight: 500;
  max-width: 136px;
  border-bottom: 2px solid #59BE29;
}

.center {
  padding: 61px 0;
}
.center__wrap {
  letter-spacing: -0.36em;
  margin: 61px auto;
}
.center__col {
  width: 50%;
  padding: 0 10px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  text-align: left;
}
.center__body {
  max-width: 588px;
}
.center__title {
  margin-bottom: 17px;
}
.center__title h2 {
  font: 600 49px/1.3 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #0A1902;
}
.center__info {
  padding-right: 34px;
}
.center__info p {
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(10, 25, 2, 0.7);
}
.center__card-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  counter-reset: circle-counter;
}
.center__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 20px 0;
}
.center__card:before {
  counter-increment: circle-counter;
  content: counter(circle-counter);
  box-shadow: 0 10px 20px rgba(22, 52, 7, 0.5);
  background: #FFFFFF;
  font: 700 35px/1.4 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #59BE29;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.center__card-body {
  display: flex;
  flex-direction: column;
  padding-left: 87px;
}
.center__card-body h3 {
  font: 500 25px/1.5 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #0A1902;
  padding-bottom: 1px;
  max-width: 215px;
}
.center__card:last-child {
  margin-bottom: 0;
}
.center__wrap-img {
  letter-spacing: -0.36em;
  margin: 0 auto;
  position: relative;
}
.center__wrap-img:before {
  position: absolute;
  content: "";
  left: 33.33%;
  height: 765px;
  width: 1px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(89, 190, 41, 0.3) 57%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 0%);
}
.center__wrap-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 66.66%;
  height: 765px;
  width: 1px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(89, 190, 41, 0.3) 57%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 0%);
}
.center__block-img {
  position: relative;
}
.center__block-img:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(89, 190, 41, 0.3) 57%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 0%);
}
.center__card-img, .center__card-img1 {
  padding: 15px;
  width: 33.3333333333%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.center__card-img-link, .center__card-img1-link {
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}
.center__card-img-link img, .center__card-img1-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.center__card-img-link:hover, .center__card-img1-link:hover {
  transform: scale(0.9);
}

.product {
  padding: 60px 0 70px;
}
.product__wrap {
  letter-spacing: -0.36em;
  margin: 0 -15px;
}
.product__col {
  width: 33.3333333333%;
  padding: 0 15px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.product__card {
  background-color: #FFFFFF;
  transition: all 0.3s;
  border-radius: 30px;
}
.product__card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 35px rgba(13, 32, 4, 0.05);
}
.product__img-link {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 72%;
  border-radius: 30px 30px 0 0;
  border: 1px solid rgba(89, 190, 41, 0.05);
  border-bottom: none;
}
.product__img-link img {
  position: absolute;
  transition: all 0.3s;
  top: 0;
  left: 0;
  width: 100%;
}
.product__img-link img:hover {
  transform: scale(0.9);
}
.product__body {
  padding: 0 40px 50px;
  border-radius: 0 0 30px 30px;
  border: 1px solid rgba(89, 190, 41, 0.05);
  border-top: none;
  text-align: center;
}
.product__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
  color: #0A1902;
}
.product__title:hover {
  color: #59BE29;
}
.product__raiting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.product__raiting img {
  max-width: 120px;
  max-height: 20px;
}
.product__price {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 35px;
  line-height: 1.4;
  color: #59BE29;
}
.product__descr {
  margin-bottom: 30px;
}

.subscribe {
  padding: 70px 0 100px;
}
.subscribe__wrap {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #FFFFFF;
  position: relative;
}
.subscribe__wrap:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 30px;
  left: 30px;
  background-color: rgba(14, 35, 4, 0.05);
  filter: blur(100px);
  border-radius: 30px;
  z-index: -1;
}
.subscribe__col {
  width: 50%;
  padding: 0 20px;
}
.subscribe__col--img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe__col--info {
  padding: 70px 20px;
}
.subscribe__img {
  max-width: 100%;
  max-height: 100%;
}
.subscribe__title {
  font: 600 49px/1.3 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #0A1902;
  margin-bottom: 25px;
}
.subscribe__descr {
  margin-bottom: 25px;
}
.subscribe__form {
  display: flex;
}
.subscribe__message {
  margin-right: 30px;
  max-width: 258px;
}

.footer {
  padding: 86px 0 71px;
  position: relative;
}
.footer:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(89, 190, 41, 0.3) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 0%);
}
.footer__img {
  position: relative;
}
.footer__img-wrap {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -30px;
  transform: translateY(-50%);
}
.footer__decor {
  position: absolute;
  right: 40px;
  max-width: 201px;
  max-height: 245px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.footer__col {
  padding: 0 10px;
}
.footer__col:first-child {
  padding-right: 50px;
}
.footer__body {
  margin-bottom: 23px;
  padding-right: 50px;
  max-width: 565px;
}
.footer__logo {
  line-height: 0;
  margin-bottom: 26px;
}
.footer__logo img {
  max-width: 164px;
  max-height: 65px;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
}
.footer__nav-item {
  width: 50%;
  margin-bottom: 10px;
}
.footer__nav-item-title {
  margin-bottom: 20px;
  font: 500 25px/1.5 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #0A1902;
}
.footer__nav-item-link:hover {
  color: #59BE29;
}
.footer__nav-item:nth-child(even) {
  padding: 0;
}
.footer__social {
  padding-right: 25px;
  letter-spacing: -0.36em;
}
.footer__social-title {
  letter-spacing: normal;
  margin-bottom: 8px;
  padding: 0 15px;
}
.footer__social-title h3 {
  font: 500 25px/1.5 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #0A1902;
}
.footer__social-socials {
  display: flex;
}
.footer__social-link {
  width: 33.33%;
  display: flex;
  letter-spacing: normal;
  vertical-align: top;
}
.footer__social-link-img {
  overflow: hidden;
  display: block;
}
.footer__social-link-img img {
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
  transition: all 0.3s;
}
.footer__social-link-img:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
